@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------------------------- */
/* Navbar */

.nav-- {
   padding: 30px 30px;
   background:#F55A5A;
   border-bottom-left-radius: 1rem ;
   border-bottom-right-radius: 1rem ;
   margin: 0px 0px;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-nav >img {
    width:5% ;
    border-radius: 80%;
    margin-right:10px;
} 

.title {
  font-family: 'inter';
  color:#ffff;
}

/* ---------------------------------------------------------------------------- */
/* Content */

.container-cont {
    border: 2px ;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.loco-img {
  width: 2rem;
}

.travels{
    width: 80rem;
    display:flex;
}

.side-text{
    display: flex;
    flex-direction: column;
}

.tr-img{
    margin-right: 1rem;
}
.location{
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-map {
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}

.line-map > p{
    margin-right: 5px;
}

.side-text > h1{
    margin-bottom:27px ;
}

.date{
    margin-bottom: 15px;
}

/* ------------------------------------------------------- */

/* .journal--parts{
    
} */

